<div class="container-fluid">

    <div class="row bg col-md-12">
<!-- 
        <div class="col-md-6" id="img"> 
            <iframe src='https://s2.glbimg.com/X-YoPPWyWIZ2wY-5VDiMB2ectok=/e.glbimg.com/og/ed/f/original/2019/01/29/cf303-saude-alergia.jpg' frameborder='0' width='100%' height='620px'></iframe>
        </div> -->

            <div class="col-md-12 mb-3">

                <div class="row d-flex justify-content-center">

                    <div class="col-md-12">

                        <h1 class="text-center ct">Cadastro</h1>

                        <div class="form-group ct">
                            <label for="nome">Nome</label>
                            <input class="form-control" type="text" name="nome" id="nome"
                                placeholder="Digite seu nome completo">
                        </div>

                        <div class="form-group ct">
                            <label for="usuario">Usuario</label>
                            <input class="form-control" type="text" name="usuario" id="usuario"
                                placeholder="Digite seu usuário">
                        </div>

                        <div class="form-group ct">
                            <label for="foto">Link da foto</label>
                            <input class="form-control" type="text" name="foto" id="foto"
                                placeholder="insira o link da foto">
                        </div>

                        <div class="form-group ct">
                            <label for="senha">Senha</label>
                            <input class="form-control" type="password" name="password" id="senha"
                                placeholder="Digite sua senha">
                        </div>

                        <div class="form-group ct">
                            <label for="confirmSenha">Confirmar Senha</label>
                            <input  class="form-control" type="password" name="password" id="confirmSenha"
                                placeholder="Confirme sua senha">
                        </div>

                        <div class="form-group ct">
                            <label for="tipo">Tipo de usuário</label>
                            <select class="form-control" name="tipo" id="tipo" >
                                <option> Selecione um tipo de usuário</option>
                                <option value="normal">Normal</option>
                                <option value="adm">Administrador</option>
                            </select>
                        </div>


                        <div class="d-flex justify-content-center ct">
                            <button type="submit" class="btn btn-danger mr-4" routerLink="/entrar">Cancelar</button>
                            <button  type="submit" class="btn btn-success">Cadastrar</button>
                        </div>

                    </div>

                </div>

            </div>

       

    </div>


</div>